footer{
    background-image: url("../img/group.svg"),linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%) ;
    background-repeat: no-repeat; 
    background-position: bottom -20px left -20px, bottom 0 left 0;   
    color: #FFFFFF;
}

footer>div{
    display: flex;
    justify-content: space-between;
    gap: 145px;
    padding: 131px 185px 100px;
}

.text-foot{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 390px;

}

.text-foot h3{
    font-size: 1.8rem;
    line-height:1.55;
    font-weight: 300;
    


}

.text-foot p{
    font-size: 1.6rem;
    line-height:1.75;
    font-weight: 300;
    margin-bottom: 31px;

}

.bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 111px;
}

.bar-one h2{
    font-size: 2rem;
    line-height:3;
    font-weight: 700;

}

.bar-one nav ul li a{
    font-size: 1.8rem;
    line-height:2.11;
    font-weight: 300;
    color: #FFFFFF;

}

.bar-one nav ul{
    display: flex;
    flex-direction: column;
    gap:30px;

}

.iconf{
    font-size: 2.6rem;
    line-height: 1.27;
    font-weight: 700;
    color:  #458ff6;
    background-color: #ffffff;
    border-radius: 55px;
    padding: 5px 12px;
    width: 41px;
    height: 41px;
    text-align: center;
}

.logof{
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 700;
}

.wrap{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 17px;
}