*{
    box-sizing: border-box;
}

body,
html{
    font-family: Mulish, Arial, sans-serif;
    font-size: 10px;
}

.container {
  max-width: 1217px;
  margin-left: auto;
  margin-right: auto;
}

.container-cards {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.container-footer{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}