.interview{
    padding-bottom: 200px;
    background-image: url("../img/element.svg") ;
    background-repeat: no-repeat;
    background-position: top 265px left 235px;
}

.interview > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/group.svg"), linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    background-repeat: no-repeat;
    background-position: right -50px top -15px, top 0 right 0;
    border-radius: 24px;
    color: #FFFFFF;
    padding: 64px 118px 79px;
    margin-bottom: 42px;
}

.interview-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
}


.img-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
}

.interview h2{
    font-size: 3.6rem;
    line-height: 1.33;
    font-weight: 700; 
    text-align: center;
}

.interview h2::after{
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 66px;
}
.img-text h3{
    font-size: 2.2rem;
    line-height: 2.18;
    font-weight: 700;

}

.img-text p{
    font-size: 1.8rem;
    line-height: 2.67;
    font-weight: 400;
}

.img-text img{
    border-radius: 70px;
}

.interview-text >p{
    font-size: 1.9rem;
    line-height: 1.58;
    font-weight: 400;
}


.interview img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.name{
    display: flex;
    flex-direction: column;
    width: 184px;
}